<div class="board">
  <div class="initial-data">
    <app-starting-form (gameCreated)="gameCreatedHandler($event)"></app-starting-form>
  </div>
  <div class="container border" *ngIf="gameStarted">
    <div class="row">
      <div class="col">
        <app-kalah [playerName]="board.north.name" [seeds]="board.north.kalah.seeds"></app-kalah>
      </div>
      <div class="col-8 border">
        <div class="row justify-content-center north-pit-row">
          <app-pit *ngFor="let seedCount of getNorthOwnSeeds(); index as i" [ownSeeds]="seedCount" [rivalSeeds]="getSouthRivalSeeds()[i]" [index]="i"></app-pit>
        </div>
        <div class="row justify-content-center south-pit-row">
          <app-pit *ngFor="let seedCount of getSouthOwnSeeds(); index as i" [ownSeeds]="seedCount" [rivalSeeds]="getNorthRivalSeeds()[i]" [index]="i"></app-pit>
        </div>
      </div>
      <div class="col">
        <app-kalah [playerName]="board.south.name" [seeds]="board.south.kalah.seeds"></app-kalah>
      </div>
    </div>
  </div>
  <app-footer [playsNext]="board.currentPlayer.name" *ngIf="gameStarted"></app-footer>
</div>
