.board {
  margin-top: 3rem;
}
.north-pit-row {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.south-pit-row {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
/* Little hack, north pits should be drawn in reversed order */
.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
